# IDE
.idea/
backend/.idea/
firmware/.vscode/

# Python
backend/__pycache__/
backend/.venv/
backend/*.py[cod]
backend/*.so

# OS junk
.DS_Store
Thumbs.db

# Project secrets
firmware/include/secrets.h

# Logs
*.log

# ESP-IDF build artefacts
firmware/sdkconfig.esp32dev
firmware/.cmake/
firmware/.pio/
firmware/build